<form method="POST" action="/waitlists/<%= restaurant.waitlist_id %>?_method=DELETE">
  <div class="button" style="margin-top: 10px;">
    <button type="submit">Remove from Waitlist</button>
  </div>
</form>
