<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/browse.css" type="text/css" />
  </head>
  <body>
<<<<<<< HEAD
    <img src="images/Logo.png">
=======
    <img src="https://i.ibb.co/ngvjBCh/Logo.png">

>>>>>>> frontend
