<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/browse.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="logo-pushdown">
    <img class= "logo" src="https://i.ibb.co/ngvjBCh/Logo.png">
    <form method="POST" action="/logout">
      <button class="logout" type="submit">Sign Out</button>
    </form>
  </div>

