<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/browse.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="logo-pushdown">
      <img class= "logo" src="https://i.ibb.co/ngvjBCh/Logo.png">
      <form method="POST" action="/logout">
      <button class="logout" type="submit">Sign Out</button>
      </form>
    </div>

