<form action="/waitlists/<%= restaurant.waitlist_id %>?_method=DELETE" method="POST">
  <div class="button" style="margin-top: 10px;">
    <button type="submit">Remove from Waitlist</button>
  </div>
</form>
