<% include partials/_header %>
<% for (let restaurant of restaurants) { %>
  <div class ="<%= restaurant.id %>">
    <h3><%= restaurant.name %></h1>
    <p>Type: <%= restaurant.type %></p>
    <p>
      <%= restaurant.wait_time ? `Estimated wait time: ${restaurant.wait_time} minutes` : `No wait time` %>
    </p>
    <% if (restaurant.waitlist_id !== null) { %>
      <% if (bookedWith != restaurant.waitlist_id) { %>
        <% include partials/waitlist/_add %>
      <% } else { %>
        <% include partials/waitlist/_remove %>
      <% } %>
    <% } %>
  </div>
<% } %>
<% include partials/_footer %>
