<% include partials/_header %>
<div>
<img src="https://i.ibb.co/sCTCzLg/Screen-Shot-2019-10-29-at-12-31-58-PM.png">
</div>

<% for (let restaurant of restaurants) { %>
  <div class ="<%= restaurant.id %>">
    <h3><%= restaurant.name %></h3>
    <p>Type: <%= restaurant.type %></p>
    <p>
      <%= restaurant.wait_time ? `Estimated wait time: ${restaurant.wait_time} minutes` : `No wait time` %>
    </p>
    <% if (restaurant.waitlist_id !== null) { %>
      <% if (bookedWith != restaurant.waitlist_id) { %>
        <% include partials/waitlist/_add %>
      <% } else { %>
        <% include partials/waitlist/_remove %>
      <% } %>
    <% } %>
  </div>
<% } %>
<% include partials/_footer %>

</html>
