<!DOCTYPE html>
<html lang="en">
  <head>
    <title>waitLess</title>
  </head>

  <body>
    <div class="container">
        <div>
            <a href="/login"> SignIn</a>
            <a href="/register"> SignUp </a>
        </div>
    </div>
  </body>
  </html>
