<<<<<<< HEAD
<% include partials/_header %>
    <div class="container">
      <a href="/login/users">User</a>
      <a href="/login/merchants">Merchant</a>
      <a href="/register">Register</a>
    </div>
<% include partials/_footer %>
=======

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="/styles/landing-page.css" type="text/css" />
  </head>

  <body>
    <h1></h1>
    <img src="https://i.ibb.co/ngvjBCh/Logo.png">
  </body>


<body>
  <div class="container">
      <div>
          <iframe class="video" width="420" height="315"
          src="https://www.youtube.com/embed/E944mymlZSA">
          </iframe>
          <br>
      <div class="header">
        <div class="header-right">
          <a class="active"  href="login/users"> User</a>
          <a href="login/merchants"> Merchant </a>
        </div>
      </div>
      </div>
  </div>
</body>
</html>

>>>>>>> frontend
