<% include partials/_header %>
    <div class="container">
      <a href="/login/users">User</a>
      <a href="/login/merchants">Merchant</a>
      <a href="/register"></a>
      <a href="/restaurants">Restaurants</a>
    </div>
<% include partials/_footer %>
