<% include partials/_header %>
    <div class="container">
      <a href="/user"> User</a>
      <a href="/merchant"> Merchant </a>
      <a href="/restaurants">Restaurants</a>
    </div>
<% include partials/_footer %>
