
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="/styles/landing-page.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class= "logo">
      <img src="https://i.ibb.co/ngvjBCh/Logo.png">
  </div>
  <div class="container">
      <div class="video-container">
        <iframe class="landing-video" src="https://www.youtube.com/embed/E944mymlZSA"></iframe>
      </div>
      <div class="header">
        <div class="half-button">
          <a class="landing-button" href="login/users">User</a>
        </div>
        <div class="half-button">
          <a class="landing-button" href="login/merchants">Merchant</a>
        </div>
      </div>
  </div>
</body>
</html>

