<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/ngvjBCh/Logo.png" alt="Logo" border="0"></a>
    <div class="container">
      <a href="/user"> User</a>
      <a href="/merchant"> Merchant </a>
      <a href="/restaurants">Restaurants</a>
    </div>
  </div>
</body>
</html>
