<!DOCTYPE html>
<html lang="en">
  <head>
    <title>waitLess</title>
  </head>

  <body>
    <div class="container">
        <div>
            <a href="/user"> User</a>
            <a href="/merchant"> Merchant </a>
        </div>
    </div>
</body>
</html>
