<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/login-merchant.css" type="text/css" />
    <title>Login Merchant</title>
  </head>

<body>
  <form action="/login/merchants" method="post">
    <div class="imgcontainer">
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
    </div>
  </form>
</body>
</html>
