<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/login-merchant.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Login Merchant</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

<div class="header">
  <img src="https://i.ibb.co/HY0xGPx/Logo-merchant.png">
  <body style="background-color:#3E4A59;"></body>
</div>
  <div class= "header">
    <a class="active"> Restaurant Sign In </a>
  </div>
</div>

<body>
  <form action="/login/merchants" method="POST">
      <div class="container">

        <label for="email"></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="password"></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <br>
        <input class="show-password" type="checkbox" onclick="myFunction()">Show Password
        <script>
          function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
        </script>
        <hr>

        <button type="submit" class="registerbtn">Sign In</button>

      </div>
    </form>
  </body>
  </html>

