<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/login-merchant.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>Login Merchant</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
<body>
      <img src="https://i.ibb.co/HY0xGPx/Logo-merchant.png">
      <body style="background-color:#3E4A59;"></body>
</body>

<body>
  <form action="/login/merchants" method="post">
      <label class= "icon_holder"><img src="https://i.ibb.co/qnqnZ3K/Email.png"></label>
      <input class= "placeholder_text" placeholder= "Email" name="email" required>
<br>
      <label class= "icon_holder"><img src="https://i.ibb.co/0Jz4v0d/Password.png"></label>
      <input type= "password" id="myInput" class= "placeholder_text" placeholder="Password" name="password" required>
      <input class ="merchant_font" type="checkbox" onclick="myFunction()">Show Password

      <script>
        function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
      </script>
<br>
    <button class= "sign_button">Sign In</button>
  </form>
</body>
</html>

