<!DOCTYPE html>
<html lang="en">
<html>
 <head>
   <link rel="stylesheet" href="/styles/login-user.css" type="text/css" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
   <title>Login</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
 </head>
<div class="header">
   <img src="https://i.ibb.co/ngvjBCh/Logo.png">
</div>
  <div class="header">
     <a class="active">Sign In</a>
     <a href="/register">Sign Up</a>
   </div>
</div>
<body>
 <form action="/login/users" method="POST">
     <div class="container">
       <div class="user-input">
         <i class="fa fa-envelope" aria-hidden="true"></i>
         <input type="text" placeholder="Enter Email" name="email" required>
       </div>
       <div class="user-input">
         <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
         <input type="password" placeholder="Enter Password" name="password" required>
       </div>
       <br>
       <button type="submit" class="registerbtn">Sign In</button>
     </div>
   </form>
   <h1><%= error.details %></h1>
 </body>
 </html>




