<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Merchant Landing</title>
</head>
<body>
    <a href = "/create-waitlist">Create New Waitlist</a>

    <h1 class = "waitlist">Waitlist</h1>
    <% if (entries){ let count = 1; %>
        <a href = "/update-waitlist">Add New Waitlist Entry</a>
        <form action="/waitlist" method="post">
            <input type="submit" id = "submit" value="Delete Waitlist">
        </form>
    <% for (let entry of entries){ %>
        <div name = "rank">Rank: <%= count %></div>
        <div name = "party_name"><%= entry.party_name %></h1>
        <div name = "party_size"><%= entry.party_size %></h1>
        <form action="/waitlist/delete" method="post">
            <input type ="number" name ="id" style = "display: none" value=<%= entry.id %> >
            <input type="submit" value="Delete Entry" id = "delete">
        </form>
        <% count++ }} else { %>
            <h2>No Waitlist</h2>
        <% } %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
 document.getElementById("submit").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("delete").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  socket.on("reload", (data)=>{
    if (data.page === "/waitlist"){
      window.location.reload();
    }
  })
</script>
</html>
