
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/main-merchant.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>People Waiting</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <div class="logo-pushdown">
    <img src="https://i.ibb.co/HY0xGPx/Logo-merchant.png">
    <body style= "background-color:#3E4A59;"></body>
    <form method="POST" action="/logout">
      <button class="logout" type="submit">Sign Out</button>
    </form>
  </div>

<body>
    <form method="POST" action="/update-waitlist" id= "timer">
      <h2>Add Entry To Waitlist</h2>
        <input type="text" name="name" required>
        <select name = "party">
                <option value="1">1 Person</option>
                <option value="2">2 Person</option>
                <option value="3">3 Person</option>
                <option value="4">4 Person</option>
                <option value="5">5 Person</option>
                <option value="6">6 Person</option>
            </select>
        <button type="submit" id="submit">submit</button>
    </form>
    <form method="POST" action="/update-waitlist/time" id= "timer">
      <h2>Update Estimated Wait Time</h2>
      <select name = "times">
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="60">60 minutes</option>
      </select>
      <button type="submit" id="update">submit</button>
    </form>
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io();
  document.getElementById("submit").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("update").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
</script>
<% include partials/_footer %>
