
<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/main-merchant.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>People Waiting</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <div class="logo-pushdown">
    <img src="https://i.ibb.co/HY0xGPx/Logo-merchant.png">
    <body style= "background-color:#3E4A59;"></body>
    <form method="POST" action="/logout">
      <button class="logout" type="submit">Sign Out</button>
    </form>
  </div>

<body>
    <form method="POST" action="/update-waitlist" id= "timer">
      <h2 class="add-entry"> ADD A PARTY TO WAITLIST</h2>
        <input class= "text" placeholder= "  Name of Party" type="text" name="name" required>
        <select class= "party" name = "party">
                <option value="0">Party Size</option>
                <option value="1">1 Person</option>
                <option value="2">2 Person</option>
                <option value="3">3 Person</option>
                <option value="4">4 Person</option>
                <option value="5">5 Person</option>
                <option value="6">6 Person</option>
            </select>
        <button class = "submit-btn3" type="submit" id="submit">Submit</button>
    </form>
    <form method="POST" action="/update-waitlist/time" id= "timer">
      <a class="active_waittime2"><i class="fa fa-clock-o" aria-hidden="true"></i> Update Estimated Wait Time</a>
      <div class="radio-toolbar">
        <input type="radio" id="15" name="times" value="15">
        <label for="15"> 15 Minutes</label>
        <input type="radio" id="30" name="times" value="30">
        <label for="30"> 30 Minutes</label>
        <input type="radio" id="45" name="times" value="45">
        <label for="45"> 45 Minutes</label>
        <input type="radio" id="60" name="times" value="60">
        <label for="60"> 60 Minutes</label>
      </div>
      <button type="submit" id="update" class="submit-btn2">Submit <i class="fa fa-send" aria-hidden="true"></i></button>
    </form>
<script src="/socket.io/socket.io.js"></script>
<script>var socket = io();
  document.getElementById("submit").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
  document.getElementById("update").addEventListener("click", () => {
      socket.emit("reload", {page: "/browse"});
  })
</script>
<% include partials/_footer %>


