
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Waitlist</title>
</head>
<body>
    <form method="POST" action="/waitlist" id= "timer">
        <input type="text" name="name">
        <select name = "party">
                <option value="1">1 Person</option>
                <option value="2">2 Person</option>
                <option value="3">3 Person</option>
                <option value="4">4 Person</option>
                <option value="5">5 Person</option>
                <option value="6">6 Person</option>
            </select>
        <button type="submit" id="submit">submit</button>
    </form>
</body>
</html>
