<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <title>Register</title>
  </head>

  <div class="header">
      <img src="https://i.ibb.co/ngvjBCh/Logo.png">
      <div class="header-right">
        <a href="/login/users">Sign In</a>
        <a class="active" href="/register">Sign Up</a>
      </div>
  </div>


<body>
  <form action="/register" method="POST">
      <div class="container">

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="First and Last Name" name="name" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="phone_number"><b>Phone Number</b></label>
        <input type="text" placeholder="Phone Number" name="phone_number" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="password-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="password-repeat" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
  </body>
</html>
