<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <title>Register</title>
  </head>

  <div class="header">
    <img src="https://i.ibb.co/ngvjBCh/Logo.png">
</div>
    <div class= "header">
      <a class="active" href="/login/users">Sign In</a>
      <a href="/register">Sign Up</a>
    </div>
</div>

<body>
  <form action="/register" method="POST">
      <div class="container">

        <label for="name"></label>
        <input type="text" placeholder="First and Last Name" name="name" required>

        <label for="email"></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="phone_number"></label>
        <input type="text" placeholder="Phone Number" name="phone_number" required>

        <label for="password"></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="password-repeat"></label>
        <input type="password" placeholder="Repeat Password" name="password-repeat" required>
        <hr>

        <button type="submit" class="registerbtn">Register</button>
      </div>
    </form>
  </body>
</html>
