<% for (let restaurant of restaurants) { %>
  <div class ="<%= restaurant.id %>"></div>
    <h1><%= restaurant.name %></h1>
    <p>Type: <%= restaurant.type %></p>
    <p>Wait Time: </p>
  </div>
<% } %>
