<form action="/entries/<%= restaurant.waitlist_id %>" method="POST">
  <label name="party-size" for="party-size">Party Size:</label>
  <select name="party_size">
    <option value="0">Select party size</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  <div class="button" style="margin-top: 10px;">
    <button type="submit">Add to Waitlist</button>
  </div>
</form>
