<form action="/entries/<%= restaurant.waitlist_id %>" method="POST">
  <label name="party_name" for="party_name">Party Name</label>
  <input type="text" name="party_name" placeholder="Name of party" required>
  <label name="party-size" for="party-size">Party Size</label>
  <select name="party_size">
    <option value="0">Select party size</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  <div class="button" style="margin-top: 10px;">
    <button type="submit" id = "submit">Add to Waitlist</button>
  </div>
</form>
