<form method="POST" action="/entries?_method=DELETE">
  <div class="button" style="margin-top: 10px;">
    <button type="submit" id ="remove" class= "remove-waitlist">Remove from Waitlist</button>
  </div>
</form>
