@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0px;
}

.map{
  max-width: 600px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 25px 15px 0px 15px;
  border-radius: 15px;
}

.restaurant-image img{
  width: 100px;
  height: 100px;
  margin-left: 15px;
  top:513px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(135, 59, 24, 0.1);
}

.container-stack {
  display: inline-block;
  margin-right: 15px;
  margin-left: 25px;
  margin-top: -15px;
}

.container-stack p {
  display:contents;
  color: #B7BBC1;
  font-size: 13px;
}

.container-stack h3 {
  margin-bottom: 5px;
  margin-top:10px;
  font-size: 16px;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.logout {
  width: 90px;
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: black;
  background: #fff;
  border-style: none;
}

.logo-pushdown form {
  float: right;
  margin-top: 12px;
}

.logo {
  display: in-line;
  margin: 0px 0px 0px 15px;
  width: 150px;
}

.logo-pushdown {
  padding-top: 50px;
  margin-bottom: 10px;
}

.container{
  margin-top: 20px;
  background: white;
  width: 600px;
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding-top: 15px;
  /* identical to box height */

  color: black;
  border-top: 1px solid #f3f4f8;
}

.search-input {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #F3F4F8;
  height: 39px;
  max-width: 345px;
  padding: 0px;
}

.search-form {
  margin: 0px 15px 0px 15px;
}

.search-submit {
  background: #fff;
  border: none;
  color: #445ee9;
}

.radio-toolbar {
  margin-top: 15px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  width: 89px;
  padding: 10px;
  border-radius: 10px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #47df98;
  color: #FFF;
}

.radio-toolbar label:hover {
  background-color: #47df98;
  color: #FFF;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  min-width: 100%;
}

.blue-background {
  background-color: blue;
}
