@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
 font-family: 'Roboto Mono', monospace;
}

html {
  font-family: 'Roboto Mono', monospace;
 }

 .logout {
  width: 90px;
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: white;
  background: #3E4A59;
  border-style: none;
  display: contents;
}

.logo-pushdown form {
  float: right;
  margin-top: 12px;
}

.logo {
  display: contents;
  margin: 0px 0px 0px 15px;
  width: 150px;
}

.logo-pushdown {
  padding-top: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.active_waittime {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 20px;
  display: flex;
  margin-top:30px;
}

.active_waittime2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 15px;
  display: flex;
  margin-top:30px;
}

.add-entry {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 15px;
  display: flex;
}

.party {
  background-color: #505B69;
  border: none;
  border-radius: 10px;
  font-family: "Roboto Mono";
}

  /* Set a style for the submit/register button */
  .submit-btn {
    position: absolute;
    width: 345px;
    height: 55px;
    left: 40px;
    top: 380px;
    background: #445EE9;
    box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
    border-radius: 10px;
    font-family: 'Roboto Mono';
    border: 0px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
}

.submit-btn2 {
  position: absolute;
  width: 345px;
  height: 55px;
  left: 40px;
  top: 450px;
  background: #445EE9;
  box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  border: 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
}

.submit-btn3 {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 300px;
  top: 135px;
  background: #445EE9;
  box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  border: 0px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
}

.text {
  font-family: 'Roboto Mono';
  border-radius: 10px;
}

.radio-toolbar {
  margin-top: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  color: #FFF;
}

.radio-toolbar label {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #505B69;
  color: #FFF;
}

.radio-toolbar label:hover {
  background-color: #505B69;
  color: #FFF;
}

.fa-clock-o:before {
  content: "\f017";
  margin-left: 10px;
  margin-right: 10px;
}


.waitlist-entry {
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
}

.waitlist {
  color: white;

}

.current-wait {
  color: white;
}

.update-waitlist {
  color:white;
  background-color:#445EE9;
  border:none;
  text-decoration: none;
  border-radius: 10px;
  width: 266px;
  padding: 10px;
  height: 39px;
  left: 15px;
  top: 135px;
  box-shadow: 0px 0px 10px rgba(68, 94, 233, 0.25);
  margin-left: 25%;
}

.deactivate-waitlist {
  color:white;
  font-family: "Roboto Mono", monospace;
}


.entry {
background-color:red;
}
