@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
 font-family: 'Roboto Mono', monospace;
 margin: 0px;
}
.body-right-margin {
  margin-right: 15px;
}

html {
  font-family: 'Roboto Mono', monospace;
 }

 .logout {
  width: 70px;
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: white;
  background: #3E4A59;
  border-style: none;
  display: contents;
  margin-right:15px;
  padding-right:5px;
}

.form-main {
  display: inline-block;
}

.logo-pushdown form {
  float: right;
  margin-top: 12px;
}

.logo {
  display: contents;
  margin: 0px 0px 0px 15px;
  width: 150px;
}

.logo-pushdown {
  padding-top: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  margin-left:15px;
  margin-right:15px;
}

.active_waittime {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 20px;
  display: flex;
  margin-top:30px;
}

.active-waittime2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 15px;
  display: flex;
  margin-top:120px;
}

.add-entry {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  border-style: none;
  color: #FFFFFF;
  background: #3E4A59;
  margin: 15px;
  display: flex;
}


.party {
  background-color: #505B69;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono";
  color:white;
  width: 100px;
  height: 30px;
  margin-left: 15px;
  margin-bottom:10px;
}

  /* Set a style for the submit/register button */
  .submit-btn {
    position: absolute;
    width: 345px;
    height: 55px;
    left: 40px;
    top: 380px;
    background: #445EE9;
    box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
    border-radius: 10px;
    font-family: 'Roboto Mono';
    border: 0px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #fff;
}

.submit-btn2 {
  position: absolute;
  width:-webkit-fill-available;
  height: 55px;
  top: 620px;
  background: #445EE9;
  box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  border: 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  /* padding: 0px 100px 0px 100px; */
  margin-left: 15px;
  margin-right: 15px;
}

.submit-btn3 {
  position: absolute;
  width:-webkit-fill-available;
  height: 55px;
  top: 250px;
  background: #445EE9;
  box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  border: 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  /* padding: 0px 100px 0px 100px; */
}

.radio-toolbar {
  margin-top: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right:15px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  /* position: fixed; */
  width: 0;
  color: #FFF;
  margin: 17px 0px 0px 0px;
}

.radio-toolbar label {
  padding: 10px;
  border-radius: 10px;
  padding-right: 200px;
}

.radio-toolbar input[type="radio"]:checked + label {
  color: #5bd49c;
}

.radio-toolbar label:hover {
  background-color: #505B69;
  color: #FFF;
}

.fa-clock-o:before {
  content: "\f017";
  margin-left: 10px;
  margin-right: 10px;
}


/* .background-list {
  top:280px;
  position: relative;
  background-color: #505B69;
  width: 100%;
} */

.waitlist-entry {
  background-color: white;
  color:black;
  border-top: 1px solid #F3F4F8;
  height: 85px;
  font-family: 'Roboto Mono', monospace;
}

.waitlist-children :first-child {
  height: 110px;
}
.dont-scroll {
  position: fixed;
  width:100%;
}

.waitlist {
  color: white;
  font-size:24px;
  line-height:28px;
  margin-top:30px;
  margin-left:15px;

}

.current-wait {
  color: white;
  font-size:18px;
  line-height:28px;
  margin-left:15px;
  padding:10px;
}

.update-waitlist {
  color:white;
  background-color:#445EE9;
  border:none;
  text-decoration: none;
  border-radius: 10px;
  width: 266px;
  padding: 10px;
  height: 39px;
  top: 135px;
  box-shadow: 0px 0px 10px rgba(68, 94, 233, 0.25);
  margin-left: 15px;
  margin-top:50px;
}

.deactivate-waitlist {
  color:white;
  font-family: "Roboto Mono", monospace;
  margin-top: 185px;
  margin-left: 270px;
}



.delete {
  color: #5bd49c;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
}

.background-list {
  color: white;
  border-radius: 20px 20px 20px 20px;
  font-family: 'Roboto Mono', monospace;
  top:280px;
  position: relative;
  padding-bottom: 20px;
}

.text-waitlist{
  margin-left:15px;
  margin-top:15px;
  color:black;
}

.deactivate-waitlist{
  color: #5bd49c;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.title {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: black;
  margin-bottom:5px;
  opacity: 0.4;
  margin-left: 15px;
  margin-top:10px;
}

.party-name-data, party-size-data  {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left:15px;
  margin-top:0px;
  /* identical to box height */
  color: black;
}

.party-name-data {
  display: inline-block;
  width: 200px;
  margin-left: 0px;
  font-size: 16px;
}

.party-size-data {
  display: inline-block;
  width: 60px;
  margin-left: 0px;
  font-size: 16px;
}

.rank {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left:15px;
  margin-top:0px;
}

.guest-title {
  margin-left: 0px;
  padding-top: 20px;
  margin-top:0px;
  display: inline-block;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
}

.party-title {
  margin-left: 0px;
  padding-top: 20px;
  margin-top:0px;
  display: inline-block;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
}

.position-title {
  margin-left: 15px;
  padding-top: 20px;
  margin-top:0px;
  display: inline-block;
  width: 50px;
  font-size: 16px;
  font-weight: bold;
}

.background-topper {
  background-color: white;
  color: #3E4A59;
  border-radius: 20px 20px 0px 0px;
}

.rank-count {
  display: inline-block;
  width: 50px;
  font-size: 16px;
}

.waitlist-position {
  display: inline-block;
  width: 50px;
  color: #B7BBC1;

}

.rank-next {
  position: absolute;
    font-size: 16px;
    margin-top: 0px;
    top: 120px;
    background: #FED5C8;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.header-merchant {
  margin-top:40px;
}

.no-people {
  display: inline-block;
  width: 200px;
  margin-left: 75px;
  font-size: 16px;
}

.background-topper2 {
  background-color: white;
  color: #3E4A59;
  border-radius: 0px 0px 0px 0px;
}

.text {
  font-family: 'Roboto Mono';
  border-radius: 5px;
  margin:15px;
  height: 25px;
  width:60%;
}

.radio-background {
  background-color: #505B69;
    height: 50px;
    /* width: 380px; */
    border-radius: 0px;
    border-bottom: 1px solid #3e4a59;
}

.waitilist-div {
  display: inline-grid;
  width: 100%;
}

.top-radius {
  border-radius: 10px 10px 0px 0px;
}

.bottom-radius {
  border-radius:  0px 0px 10px 10px;
}

