.sign_button {
  position: absolute;
  width: 345px;
  height: 55px;
  left: 15px;
  top: 440px;
  background: #445EE9;
  box-shadow: 0px 10px 30px rgba(68, 94, 233, 0.25);
  border-radius: 10px;

  position: absolute;
  width: 68px;
  height: 19px;
  left: 154px;
  top: 457px;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;
}

.placeholder_text {
  position: absolute;
  width: 77px;
  height: 19px;
  left: 61px;
  top: 339px;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #B7BBC1;
  position: absolute;
  width: 298px;
  height: 0px;
  left: 62px;
  top: 294px;

  border: 1px solid #B7BBC1;
}

icon_holder{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 15px;
  top: 260px;
  background: #F3F4F8;
  border-radius: 10px;
  position: absolute;
  width: 16px;
  height: 12.57px;
  left: 25px;
  top: 272px;
}
